<section>
    <div class="card">
       <figure>
        <img src="./img/money.jpg" alt="Cash Money">
        <figcaption>Cash Money</figcaption>
        </figure>
    </div>


    <div class="card">
       <figure>
        <img src="./img/piggy.jpg" alt="Piggy Bank">
        <figcaption>Piggy Bank Savings</figcaption>
        </figure>
    </div>


    <div class="card">
       <figure>
        <img src="./img/blueberry.jpg" alt="Blueberries">
        <figcaption>GMO Blueberries</figcaption>
        </figure>
    </div>


    <div class="card">
       <figure>
        <img src="./img/pears.jpg" alt="Pears">
        <figcaption>Non-GMO Pears</figcaption>
        </figure>
    </div>


    <div class="card">
       <figure>
        <img src="./img/cyborg.jpg" alt="Robot">
        <figcaption>Robots of the Future</figcaption>
        </figure>
    </div>


    <div class="card">
       <figure>
        <img src="./img/tech.jpg" alt="Technology">
        <figcaption>The Future of Technology</figcaption>
        </figure>
    </div>
    <hr>
</section>